<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <meta name="og:type" content="website" />
    {{{recaptchaScript}}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Raleway:700,500|Roboto:700");

      .anima-component-wrapper a,
      .anima-screen a {
        text-decoration: none;
        display: contents;
      }

      .anima-full-width-a {
        width: 100%;
      }

      .anima-full-height-a {
        height: 100%;
      }

      .anima-screen textarea:focus,
      .anima-screen input:focus {
        outline: none;
      }

      .anima-screen *,
      .anima-component-wrapper * {
        box-sizing: border-box;
      }

      .anima-screen div {
        -webkit-text-size-adjust: none;
      }

      .anima-container-center-vertical,
      .anima-container-center-horizontal {
        pointer-events: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
      }

      .anima-container-center-vertical {
        align-items: center;
        height: 100%;
      }

      .anima-container-center-horizontal {
        justify-content: center;
        width: 100%;
      }

      .anima-container-center-vertical > *,
      .anima-container-center-horizontal > * {
        pointer-events: auto;
        flex-shrink: 0;
      }

      .anima-component-wrapper,
      .anima-screen {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
      }

      .anima-auto-animated div {
        opacity: 0;
        position: absolute;
        --anima-z-index: -1;
      }

      .anima-auto-animated .anima-container-center-vertical,
      .anima-auto-animated .anima-container-center-horizontal {
        opacity: 1;
      }

      .anima-overlay {
        position: absolute;
        opacity: 0;
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
      }

      .anima-animate-appear {
        opacity: 0;
        display: block;
        animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
      }

      .anima-animate-disappear {
        opacity: 1;
        display: block;
        animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
      }

      .anima-animate-nodelay {
        animation-delay: 0s;
      }

      @keyframes anima-reveal {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .align-self-flex-start {
        align-self: flex-start;
      }
      .align-self-flex-end {
        align-self: flex-end;
      }
      .align-self-flex-center {
        align-self: center;
      }
      .anima-valign-text-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .anima-valign-text-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .anima- input:focus {
        outline: none;
      }
      .anima-component-wrapper,
      .anima-component-wrapper * {
        pointer-events: none;
      }

      .anima-component-wrapper a *,
      .anima-component-wrapper a,
      .anima-component-wrapper input,
      .anima-component-wrapper video,
      .anima-component-wrapper iframe,
      .anima-listeners-active,
      .anima-listeners-active * {
        pointer-events: auto;
      }

      .anima-hidden,
      .anima-hidden * {
        visibility: hidden;
        pointer-events: none;
      }

      .anima-smart-layers-pointers,
      .anima-smart-layers-pointers * {
        pointer-events: auto;
        visibility: visible;
      }

      .anima-component-wrapper.anima-not-ready,
      .anima-component-wrapper.anima-not-ready * {
        visibility: hidden !important;
      }

      .anima-listeners-active-click,
      .anima-listeners-active-click * {
        cursor: pointer;
      }
    </style>
  </head>
  <body style="margin: 0; background: rgba(255, 255, 255, 1)">
    <input type="hidden" id="anPageName" name="page" value="desktop-1" />
    <div class="anima-container-center-horizontal">
      <div class="desktop-1 anima-screen">
        <div class="welcome-to-160766-C61RwL anima-valign-text-middle raleway-bold-stratos-14px">{{__ "Welcome to"}}</div>
        <div class="ad-transpa-com-160769-C61RwL anima-valign-text-middle raleway-bold-stratos-24px">
            {{__ "Transparency and Control Portal"}}
        </div>
        <div class="rectangle-121-C61RwL"></div>
        <div class="this-site--net-160765-C61RwL raleway-medium-stratos-12px">
            {{__ "This site allows you to opt out of targeted advertising based on Unified ID 2.0. Please enter your email below. You represent and warrant that this is your email."}}
        </div>
        {{#if error}}
            <div class="error this-site--net-160765-C61RwL raleway-medium-stratos-12px">
                {{error}}
            </div>
        {{/if}}
        {{#if message}}
           <div class="message this-site--net-160765-C61RwL raleway-medium-stratos-12px">
                {{message}}
            </div>
        {{/if}}
          <form id="email_prompt" action="/" method="post">
            {{{siteKeyInput}}}
            <input type="hidden" name="step" value="email_prompt">
            <input type="hidden" id="recaptcha" name="recaptcha" />
            <div class="desktopui--ry-default-C61RwL">
              <input type="text" style="border-style: none" class="link-i16077146939-wxkpqU raleway-medium-stratos-12px border-class-1" name="email" placeholder="{{__ "Enter your email address"}}" value="{{email}}">
              </input>
              <!--
              <div class="link-i16077146939-wxkpqU raleway-medium-stratos-12px border-class-1">
                Enter your email address
              </div>
              -->
            </div>
            <div class="desktop-un-ary-button-C61RwL">
              <div class="rectangle-98-pdOPXM"></div>
                  <button style="border-style: none; cursor: pointer; align-items: center" class="link-i16077046888-pdOPXM anima-valign-text-middle raleway-bold-white-14px border-class-1">
                      {{__ "NEXT"}}
                  </button>
            </div>
          </form>
          <script>
              const form = document.getElementById("email_prompt");
              form.addEventListener("submit", onSubmit);
              function onSubmit(e) {
                  e.preventDefault();
                  grecaptcha.ready(function () {
                        const key = document.getElementById('recpatchaSiteKey').value;
                        grecaptcha.execute(key, { action: 'email_prompt' }).then(function (token) {                      
                        document.getElementById('recaptcha').value = token;
                        form.submit();
                      });
                  });
              }
          </script>
        <div class="powered-by-160767-C61RwL raleway-bold-stratos-12px">Powered by</div>
        <img class="unified-id-r-with20-1-C61RwL" src="/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png" />
      </div>
    </div>
  </body>
</html>
