<html>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/favicon.png' />
  <meta name='og:type' content='website' />
  {{{recaptchaScript}}}
  <link rel='stylesheet' type='text/css' href='/stylesheets/index.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>

<body style='margin: 0; background: rgba(255, 255, 255, 1)'>
  <input type='hidden' id='anPageName' name='page' value='desktop-1' />
  <div class='main'>
    <div class='main-content'>
      <h1 class='main-content__header'>
        {{__ 'euid-portal-title'}}
      </h1>
      <div class='main-content__divider'></div>
      <p class='main-content__description'>
        {{__ 'euid-this-site-allows-you' }}
      </p>
      <p class='main-content__description'>
        {{__ 'euid-transforms-your-email-address' }}
      </p>
      <p class='main-content__description'>
        {{__ 'euid-by-entering-your-email-below' }}
      </p>
      {{#if error}}
      <p class='error'>
        {{error}}
      </p>
      {{/if}}
      {{#if message}}
      <p class='message'>
        {{message}}
      </p>
      {{/if}}
      <form class='main-content__form' id='email_prompt' action='/' method='post'>
        {{{siteKeyInput}}}
        <input type='hidden' name='step' value='email_prompt' />
        <input type='hidden' id='recaptcha' name='recaptcha' />
        <div class='form__input-container'>
          <input type='text' class='form__input' name='email' placeholder='{{__ "Enter your email address"}}' value='{{email}}' />
        </div>
        <button>
          {{__ 'NEXT'}}
        </button>
      </form>
      <p class='main-content__description'>
        {{__ "euid-for-more-information" }}
        <a href='/privacy'>{{__ 'euid-privacy-notice'}}</a>.
      </p>
      <a target="_blank" href="https://www.thetradedesk.com/us/trust/report-a-vulnerability" class="vulnerability-link">{{__ 'Report-vulnerability'}}</a>
      <script>
        const form = document.getElementById("email_prompt");
        form.addEventListener("submit", onSubmit); function onSubmit(e) {
          e.preventDefault(); grecaptcha.ready(function () {
            const key =
              document.getElementById('recpatchaSiteKey').value;
            grecaptcha.execute(key, { action: 'email_prompt' }).then(function
              (token) {
                document.getElementById('recaptcha').value = token;
              form.submit();
            });
          });
        }
      </script>
    </div>
    <div class='main__footer'>
      <h3 class='main__logo-label'>Powered by</h3>
      <img class='main__logo' src='/images/EUID.png' />
    </div>
  </div>
  <script> 
    window.onload = function () {
      if (window.location.href.includes('#/privacynotice')) {
        window.location.href = '/privacy';
      }
    };
  </script>
</body>

</html>