<html>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/favicon.png' />
  <meta name='og:type' content='website' />
  <meta name='twitter:card' content='photo' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/email_verified.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>

<body style='margin: 0; background: rgba(255, 255, 255, 1)'>
  <input type='hidden' id='anPageName' name='page' value='desktop-4' />
  <div class='main'>
    <div class='main-content'>
      <h2 class='main-content__pre-header'>{{__ 'Welcome!'}}</h2>
      <h1 class='main-content__header'>
        {{email}}
      </h1>
      <div class='main-content__divider'></div>
      <p class='main-content__description'>
        {{__
        'Our trusted advertising partners using the UID identifier are committed to delivering relevant advertising
        that also respects your choice.'
        }}
        <br />
        {{__
        'Advertising enables access to your favorite content across the internet.'
        }}
      </p>
      <h2>{{__ 'Opt-Out'}}</h2>
      <p class='main-content__description'>
        <span>
          {{__
          'Your choice to Opt-Out will indicate to trusted advertising partners that you no longer wish to receive
          targeted advertising based on your UID.'
          }}
          <br /><br />
          {{__
          'The scope of this Opt-Out is limited to sites which use UID.'
          }}
          <br /><br />
          {{__
          'For choice with respect to advertising based on cookies, please visit '
          }}
          <a target='_blank' href='https://optout.aboutads.info'>https://optout.aboutads.info. {{__ '(English)'}}</a>
        </span>
        <br /><br />
        <span>
          {{__
          'Note: this choice may limit your ability to access ad supported content.'
          }}
          <br />
          {{'You may be asked to Opt-In again in the future to access such content.'}}
        </span>
      </p>
      <form id='optout-form' action='/' method='post' onsubmit='return onSubmitOptout(this);'>
        <input type='hidden' name='step' value='optout_submit' />
        <input type='hidden' name='encrypted' value='{{encrypted}}' />
        <button type='submit' name='submitButton' class='submit-button'>
          <span>{{__ 'OPT OUT'}}</span>
          <!-- MIT licensed, sourced from https://tabler-icons.io/ - icon is loader-2 -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-loader-2" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 3a9 9 0 1 0 9 9"></path>
          </svg>
        </button>
      </form>
    </div>
    <div class='main__footer'>
      <h3 class='main__logo-label'>Powered by</h3>
      <img class='main__logo' src='/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png' />
    </div>
  </div>
</body>
<script>
  function onSubmitOptout(form) { 
    form.submitButton.disabled = true;
    form.submitButton.className += ' submitting';
    return true;
  }
</script>
</html>