<html>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/favicon.png' />
  <meta name='og:type' content='website' />
  <meta name='twitter:card' content='photo' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/email_verified.css' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>

<body style='margin: 0; background: rgba(255, 255, 255, 1)'>
  <input type='hidden' id='anPageName' name='page' value='desktop-4' />
  <div class='main'>
    <div class='main-content'>
      <form id='optout-form' action='/' method='post'>
        <input type='hidden' name='step' value='optout_submit' />
        <input type='hidden' name='encrypted' value='{{encrypted}}' />
      </form>
      <h1 class="main-content__header">
        {{__ "Transparency and Control Portal"}}
      </h1>
      <div class='main-content__divider'></div>
      <span><b>{{__ 'Hello,'}}</b></span>
      <h1 class='main-content__identity_header'>
        {{email}}
      </h1>
      <p class='main-content__description'>
        <b>{{__ 'Opt-Out'}}</b>
        <br />
        <span>
          {{__
          'Your choice to opt out will indicate to trusted advertising partners that you no longer want to receive targeted advertising based on your UID2 identifier.'
          }}
          <br /><br />
          {{__
          'The scope of this opt-out is limited to sites that use Unified ID 2.0.'
          }}
          <br /><br />
          {{__
          'Note: This choice might affect your ability to access ad-supported content.'
          }}
          <br /><br />
          {{__
          'For choice with respect to advertising based on cookies, please visit '
          }}
          <a target='_blank' href='https://optout.aboutads.info'>https://optout.aboutads.info. {{__ '(English)'}}</a>
        </span>
      </p>
      <button onclick='javascript:submitOptout(); return false;'>
        {{__ 'OPT OUT'}}
      </button>
    </div>
    <div class='main__footer'>
      <h3 class='main__logo-label'>Powered by</h3>
      <img class='main__logo' src='/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png' />
    </div>
  </div>
</body>
<script>
  function submitOptout() { document.getElementById("optout-form").submit(); }
</script>

</html>